<script type="application/ld+json">
 {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "What is Nyumi?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Nyumi is a wellness brand that offers <a href=https://nyumi.com/pages/science> science-backed </a> delicious gummy vitamins. Our range covers essential nutrients for skin, hair, sleep, immunity and UTI."
        }
      }
	]
 }
</script>