<style>
  .seo-footer {
    padding: 0 100px;
  }
  .seo-footer a{
    color:#551A8B;
  }
  .seo-footer h1 {
    font-family: 'corbenr';
    font-size: 14px;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .seo-footer h2,
  .seo-footer h3 {
    font-family: 'corbenr';
    font-size: 12px;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .seo-footer p {
    font-family: 'corbenr';
    font-size: 12px;
    font-weight: 400;
    color: #484848;
  }
  .seo-footer ol {
    padding-left: 1rem;
  }
  .seo-footer ol li {
    list-style: number;
  }
  .seo-footer ul li {
    list-style: disc;
  }
  .seo-footer ul p,
  .seo-footer ol p{
    margin-bottom: 0;
  }
  .seo-footer button {
    font-family: 'manropeb';
    font-size: 12px;
    margin-top: 0.5rem;
  }
  .expanded-description {
    display: none;
  }
  .show-expanded {
    display: block;
  }

  @media (max-width: 769px) {
    .seo-footer {
      padding: 0 30px;
    }
  }
</style>

<div class="seo-footer">
  <div class="minified-description">
    <h1 class="minified-heading">
      Boost Your Health With High-Quality Nutrition and Multivitamin Gummies
    </h1>
    <p class="minified-para">
      Welcome to Nyumi, your ultimate destination for high-quality nutrition and multivitamin gummies that can boost your health and enhance your natural beauty. Explore our extensive collection, including our <a href = https://nyumi.com/products/happy-hair-nails-gummies\> Biotin Hair Gummies </a>, formulated to promote healthy hair growth and strengthen your locks from within.
Nyumi offers a wide range of delicious and effective Multivitamin Gummies for Women designed to provide essential nutrients for your overall well-being. 
Explore our diverse selection of Hair, Skin & Sleep Gummies, and discover a convenient and enjoyable way to enhance your health
Trust Nyumi for delicious gummy supplements that deliver real results. Elevate your beauty and well-being journey with us.
    </p>
    <button class="show-more-btn">SHOW MORE</button>  
  </div>

  <div class="expanded-description">
    <p>
      Welcome to Nyumi, your ultimate destination for high-quality nutrition and multivitamin gummies that can boost your health and enhance your natural beauty. Explore our extensive collection, including our <a href = https://nyumi.com/products/happy-hair-nails-gummies\> Biotin Hair Gummies </a>, formulated to promote healthy hair growth and strengthen your locks from within.
Nyumi offers a wide range of delicious and effective Multivitamin Gummies for Women designed to provide essential nutrients for your overall well-being. 
Explore our diverse selection of Hair, Skin & Sleep Gummies, and discover a convenient and enjoyable way to enhance your health
Trust Nyumi for delicious gummy supplements that deliver real results. Elevate your beauty and well-being journey with us.
    </p>
    <h2>
      Delicious and Nutritious: Nyumi’s Multivitamin Gummies for Women
    </h2>
    <p>
      Discover the perfect balance of taste and nutrition with Nyumi Gummies - the best Multivitamin for Women in India
Indulge in our Biotin Hair Gummies, enriched with biotin, folic acid, and vitamins A, C, and E, to support healthy hair growth.
Experience blissful rest with our Beauty Sleep Gummies, infused with melatonin, chamomile, and lavender, for a peaceful slumber and refreshed mornings.
Unlock a radiant complexion with our <a href = https://nyumi.com/products/radiant-skin-gummies\> Radiant Skin Gummies </a>, packed with collagen, hyaluronic acid, and vitamins C and E, for nourished and glowing skin. Elevate your wellness routine with these delicious and nutritious gummies today. 
    </p>
    <h2>
      The Benefits of Buying Beauty Gummies From Nyumi
    </h2>
    <p>
      Delicious and Nutritious: The Benefits of Buying From Nyumi<br><br>
      Discover the delicious and nutritious benefits of choosing Nyumi for your beauty gummies. 
      Our carefully formulated gummy supplements are designed to nourish and enhance your beauty 
      from the inside out. With a blend of essential vitamins, minerals, and beauty-enhancing ingredients, 
      Nyumi beauty gummies support healthy hair, radiant skin, and strong nails. Elevate your beauty routine 
      with Nyumi's high-quality and irresistibly tasty gummies.
    </p>
    <h2>
      Get Your Glow On with Our Best Beauty Gummies: What Makes Us the Best?
    </h2>
    <p>
      Get ready to radiate with Nyumi's best beauty gummies. Indulge in our delicious and nutritious gummy supplements designed to enhance your natural beauty. With a unique blend of ingredients like collagen, biotin, and antioxidants, our gummies nourish your skin, hair, and nails from within. Experience the Nyumi difference and discover what makes us the best choice for your beauty needs. Elevate your radiance to new heights with Nyumi's exceptional beauty essentials including our coveted multivitamin gummies, and hair skin and nails gummies. Embrace your personal beauty journey today by visiting our website and embark on a transformative experience with Nyumi.
    </p>
    <button class="show-less-btn">SHOW LESS</button>
</div>

<script>
  $('.show-more-btn').click(function(){
    $('.minified-para').hide()
    $('.expanded-description').show()
    $('.show-more-btn').hide()
  })
  $('.show-less-btn').click(function(){
    $('.minified-para').show()
    $('.expanded-description').hide()
    $('.show-more-btn').show()
  })
</script>