<style>
  .seo-footer {
    padding: 0 100px;
  }
  .seo-footer h1 {
    font-family: 'manropeb';
    font-size: 14px;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .seo-footer h2 {
    font-family: 'manropeb';
    font-size: 12px;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .seo-footer p {
    font-family: 'manropes';
    font-size: 12px;
    font-weight: 400;
    color: #484848;
  }
  .seo-footer ul li {
    font-family: 'manropes';
    font-size: 12px;
    font-weight: 400;
    color: #484848;
    list-style: disc;
  }
  .seo-footer button {
    font-family: 'manropeb';
    font-size: 12px;
  }
  .expanded-description {
    display: none;
  }
  .show-expanded {
    display: block;
  }

  @media (max-width: 769px) {
    .seo-footer {
      padding: 0 30px;
    }
  }
</style>

<div class="seo-footer">
  <div class="minified-description">
    <h2 class="minified-heading">
      Healthy Hair and Skin with Our hair and skin gummies Combo Pack!
    </h2>
    <p class="minified-para">
      Elevate your beauty routine with our innovative hair and skin gummies combo designed to nourish both hair and skin from within. Packed with a powerful blend of vitamins, minerals, and natural ingredients, our tasty gummies offer a convenient and delicious way to achieve nourished hair & radiant skin. Say goodbye to dull skin and lacklustre hair – our carefully crafted formula supports collagen production, enhances skin elasticity, and promotes luscious locks making them the best gummies for hair and skin.
      Take 2 gummies of each daily after a meal to see the best results. Our gummies for hair and skin are clinically proven to 
    <ul>
    <li>Reduce hair fall</li>
      <li>Reduce fine lines</li>
      <li>Reduce pigmentation</li>
      <li>Increase hair growth</li>
      <li>Improve smoothness of the skin</li>
      <li>Increase skin glow</li>
      </ul>
  </p> 
    <button class="show-more-btn">SHOW MORE</button>  
  </div>

  <div class="expanded-description">
    <h2>
     Healthy Hair and Skin with Our hair and skin gummies Combo Pack!
    </h2>
    <p>
      Elevate your beauty routine with our innovative hair and skin gummies combo designed to nourish both hair and skin from within. Packed with a powerful blend of vitamins, minerals, and natural ingredients, our tasty gummies offer a convenient and delicious way to achieve nourished hair & radiant skin. Say goodbye to dull skin and lacklustre hair – our carefully crafted formula supports collagen production, enhances skin elasticity, and promotes luscious locks making them the best gummies for hair and skin.
      Take 2 gummies of each daily after a meal to see the best results. Our gummies for hair and skin are clinically proven to 
      <ul>
      <li>Reduce hair fall</li>
      <li>Reduce fine lines</li>
      <li>Reduce pigmentation</li>
      <li>Increase hair growth</li>
      <li>Improve smoothness of the skin</li>
      <li>Increase skin glow</li></ul>
    </p>
    <h2>
      The benefits of Biotin for Hair and Skin Health
    </h2>
    <p>
      Biotin, like plant food for our bodies, has benefits for hair and skin. For hair, it helps make a protein called keratin that builds strong strands, reducing breakage. Biotin may also help in the production of fatty acids, which are crucial for maintaining a healthy scalp and hair follicles. Healthy hair follicles are necessary for regulating your hair growth and are responsible for your hair texture. Thus, biotin gummies for hair, skin and nails play a vital role in promoting your hair growth.
      For skin, it helps keep it healthy and glowing by aiding in the process of renewing skin cells. It might also help with skin issues like acne. Biotin works like a helper, ensuring our hair and skin stay vibrant and happy.
    </p>
    <h2>
      How Collagen Can Help You Achieve a Youthful Appearance
    </h2>
    <p>
      Collagen is a crucial protein that helps our skin maintain its elasticity and structural integrity. However, with age, our body's natural collagen production declines leading to the appearance of wrinkles and loss of skin elasticity. Collagen also plays a role in muscle repair and recovery after physical activity. Thus, collagen builders may aid in muscle regeneration and reduce recovery time. 
    </p>
    <p>Our collagen builder gummies are packed with ingredients like hyaluronic acid & vitamin C which enable the body to produce collagen.</p>
    <p>Hyaluronic acid is a natural substance found in the human body, particularly in the skin, joints, and connective tissues. It plays a crucial role in maintaining skin hydration, joint lubrication, and overall tissue health.
</p>
    <p>Vitamin C is a potent antioxidant that helps protect the skin from environmental hazards. Additionally, it also reduces inflammation and stimulates collagen production which helps in brightening the skin and reducing the appearance of dark spots. Vitamin C helps make the building blocks of collagen, like bricks for a strong wall.</p>
    <p>Together, vitamin C and hyaluronic acid support collagen production, which maintains the skin's structure and makes it look smooth and youthful. Our skin gummies are a great alternative for vegans and vegetarians who cannot consume marine collagen.</p>
    
    <h2>
      Why should you try Nyumi Combo Pack?
    </h2>
    <p>
     Imagine getting all the essential nutrients your skin and hair crave in one delicious combo. These gummies for hair and skin are packed with carefully selected vitamins, minerals, and natural goodness. Our <a href="https://nyumi.com/"> multivitamin gummies</a> are made keeping a woman’s recommended dietary allowance in mind.
    </p>
    <button class="show-less-btn">SHOW LESS</button>
</div>

<script>
  $('.show-more-btn').click(function(){
    $('.minified-description').hide()
    $('.expanded-description').show()
  })
  $('.show-less-btn').click(function(){
    $('.minified-description').show()
    $('.expanded-description').hide()
  })
</script>