<style>
  .seo-footer {
    padding: 0 100px;
  }
  .seo-footer a{
    color:#551A8B;
  }
  .seo-footer h1 {
    font-family: 'corbenr';
    font-size: 14px;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .seo-footer h2 {
    font-family: 'corbenr';
    font-size: 12px;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .seo-footer p {
    font-family: 'corbenr';
    font-size: 12px;
    font-weight: 400;
    color: #484848;
  }
  .seo-footer button {
    font-family: 'corbenr';
    font-size: 12px;
  }
  .expanded-description {
    display: none;
  }
  .show-expanded {
    display: block;
  }

  @media (max-width: 769px) {
    .seo-footer {
      padding: 0 30px;
    }
  }
</style>

<div class="seo-footer">
  <div class="minified-description">
    <h2 class="minified-heading">
      What are Radiant Skin Gummies?
    </h2>
    <p class="minified-para">
      Nyumi Radiant Skin Gummies are India’s first clinically proven skin health gummies. Our skin gummies are formulated using an enriching blend of 8 essential Indian herbs and Western ingredients including Vitamin C & E, Hyaluronic Acid, and Curcumin extract (Haldi). Our radiant skin gummies are ideal for people looking to achieve a youthful, radiant complexion as they help build collagen from within to tackle an age-related decline in collagen production by the body. Unlike any other collagen supplement, our skin gummies aid the body to keep creating the right amount of collagen to give supple & glowing skin. <a href=https://www.nyumi.com\> Multivitamin gummies </a> are a dietary supplement that provides a combination of essential vitamins and minerals in the form of chewable gummies. <a href ='https://nyumi.com/'>Multivitamin gummies </a> are intended to supplement a balanced diet and help fill nutritional gaps.
    </p>
    <button class="show-more-btn">SHOW MORE</button>  
  </div>

  <div class="expanded-description">
    <h2>
      What are Radiant Skin Gummies?
    </h2>
    <p>
      Nyumi Radiant Skin Gummies are India’s first clinically proven skin health gummies. Our skin gummies are formulated using an enriching blend of 8 essential Indian herbs and Western ingredients including Vitamin C & E, Hyaluronic Acid, and Curcumin extract (Haldi). Our radiant skin gummies are ideal for people looking to achieve a youthful, radiant complexion as they help build collagen from within to tackle an age-related decline in collagen production by the body. Unlike any other collagen supplement, our skin gummies aid the body to keep creating the right amount of collagen to give supple & glowing skin. Multivitamin gummies are a dietary supplement that provides a combination of essential vitamins and minerals in the form of chewable gummies. <a href ='https://nyumi.com/'> Multivitamin gummies </a> are intended to supplement a balanced diet and help fill nutritional gaps.
    </p>
    <h2>
      What is Collagen?
    </h2>
    <p>
      Collagen is a crucial protein found in the bodies of animals, including humans. The primary function of collagen is to act as a scaffold, holding the cells together and giving tissues their structure. As we age, the production of collagen in the body tends to decrease, leading to the loss of skin elasticity, joint flexibility, and other signs of aging. Using collagen supplements like skin gummies help in improving collagen production & delay signs of ageing.
    </p>
    <h2>
      Key Benefits of Buying Radiant Skin Gummies From Nyumi.
    </h2>
    <p>
      Our skin gummies are clinically proven to improve hydration, and skin glow, and reduce skin dryness, pigmentation, wrinkles, and fine lines.
      These skin health gummies are suitable for all skin types.
      There are no artificial flavours added to these Skincare Gummies
    </p>
    <h2>
      How Do Radiant Skin Gummies Nourish Your Skin?
    </h2>
    <p>
      Our Radiant Skin Gummies help build collagen from within for a youthful complexion and also contain patented Curcumin C3 Complex & Vitamin C which make these the best gummies for glowing skin.
    </p>
     <h2>
      Directions For The Use of Gummies for Women?
    </h2>
    <p>
      Take 2 gummies daily preferably after a meal for better absorption. Take the gummies for 
      three months to see the best results.
    </p>
    <button class="show-less-btn">SHOW LESS</button>
</div>

<script>
  $('.show-more-btn').click(function(){
    $('.minified-description').hide()
    $('.expanded-description').show()
  })
  $('.show-less-btn').click(function(){
    $('.minified-description').show()
    $('.expanded-description').hide()
  })
</script>