<style>
  .seo-footer {
    padding: 0 100px;
  }
  .seo-footer h1 {
    font-family: 'manropeb';
    font-size: 14px;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .seo-footer h2 {
    font-family: 'manropeb';
    font-size: 12px;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .seo-footer p {
    font-family: 'manropes';
    font-size: 12px;
    font-weight: 400;
    color: #484848;
  }
  .seo-footer button {
    font-family: 'manropeb';
    font-size: 12px;
  }
  .expanded-description {
    display: none;
  }
  .show-expanded {
    display: block;
  }

  @media (max-width: 769px) {
    .seo-footer {
      padding: 0 30px;
    }
  }
</style>

<div class="seo-footer">
  <div class="minified-description">
    <h2 class="minified-heading">
      Nyumi Rest & Glow Combo of Sleep and Skin Gummies for Women
    </h2>
    <p class="minified-para">
      A healthy sleep routine is vital for glowing skin. During sleep, your skin repairs itself, making it crucial for a radiant appearance. A consistent sleep cycle helps maintain skin's moisture, reduces breakouts, and prevents puffiness. Say hello to our Rest n Glow Combo, an effective duo of skin gummies and melatonin sleep gummies. Experience restful sleep while these gummies work their charm, granting you not just beauty sleep, but also a dazzling morning glow. Embrace restful nights and embrace radiant days with our combo!
    </p>
    <button class="show-more-btn">SHOW MORE</button>  
  </div>

  <div class="expanded-description">
    <h2>
      Nyumi Rest & Glow Combo of Sleep and Skin Gummies for Women
    </h2>
    <p>
      A healthy sleep routine is vital for glowing skin. During sleep, your skin repairs itself, making it crucial for a radiant appearance. A consistent sleep cycle helps maintain skin's moisture, reduces breakouts, and prevents puffiness. Say hello to our Rest n Glow Combo, an effective duo of skin gummies and melatonin sleep gummies. Experience restful sleep while these gummies work their charm, granting you not just beauty sleep, but also a dazzling morning glow. Embrace restful nights and embrace radiant days with our combo!
    </p>
    <h2>
      The Benefits of Melatonin & Collagen Gummies Combo Pack
    </h2>
    <p>
      Melatonin is a hormone that acts like a sleep signal made by our bodies. It tells us when it's time to rest. Sometimes, due to busy days or changes in schedules, we might not have enough of it. That's when melatonin sleep gummies can help. They give us a little extra sleep signal, making it easier to have a good night's sleep.
    </p>
    <p>Combining melatonin gummies with skin health gummies creates an effective duo for healthy, glowing skin. When we sleep well with melatonin's help, our body fixes and rejuvenates our skin. <a href='https://nyumi.com/products/radiant-skin-gummies'>Skin gummies</a> give extra vitamins & nutrients that support the process of collagen synthesis. Collagen is a special type of protein that exists in your body and plays a crucial role in keeping your skin firm, smooth, and healthy. Imagine it like the "scaffolding" or the "framework" that supports your skin. Picture your skin as a mattress, and collagen is like the springs inside that keep the mattress from sagging. As you age, your body naturally produces a bit less collagen, kind of like how the springs in a mattress might weaken over time.
</p>
    <p>Together with skin-brightening gummies & sleep gummies, they help our skin shine and glow, making us feel and look amazing.</p>
    <h2>
      Why should you try Nyumi Combo Pack?
    </h2>
    <p>
     Using skin and sleep gummies together is like giving your body a double boost. <a href='https://nyumi.com/products/beauty-sleep-gummies'>Melatonin Sleep Gummies</a> help you rest better, and when you sleep well, your skin gets a chance to repair and shine. Skin gummies provide vitamins and stuff that make your skin healthy.  So, using both types together makes sure your skin feels good and looks lovely.
    </p>
    <p>Now, skin-brightening gummies focus mainly on making your skin lighter, like removing dark spots. But skin gummies care for overall skin health, making it soft, smooth, and radiant.
    </p>
    <button class="show-less-btn">SHOW LESS</button>
</div>

<script>
  $('.show-more-btn').click(function(){
    $('.minified-description').hide()
    $('.expanded-description').show()
  })
  $('.show-less-btn').click(function(){
    $('.minified-description').show()
    $('.expanded-description').hide()
  })
</script>