<style>
  .seo-footer {
    padding: 0 100px;
  }
  .seo-footer a{
    color:#551A8B;
  }
  .seo-footer h1 {
    font-family: 'corbenr';
    font-size: 14px;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .seo-footer h2 {
    font-family: 'corbenr';
    font-size: 12px;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .seo-footer p {
    font-family: 'corbenr';
    font-size: 12px;
    font-weight: 400;
    color: #484848;
  }
  .seo-footer button {
    font-family: 'corbenr';
    font-size: 12px;
  }
  .expanded-description {
    display: none;
  }
  .show-expanded {
    display: block;
  }

  @media (max-width: 769px) {
    .seo-footer {
      padding: 0 30px;
    }
  }
</style>

<div class="seo-footer">
  <div class="minified-description">
    <h2 class="minified-heading">
      What Are Melatonin Sleep Gummies?
    </h2>
    <p class="minified-para">
      Melatonin sleep gummies are chewable supplements that contain melatonin, a hormone that helps regulate sleep-wake cycles, aiding in better sleep. Melatonin, commonly referred to as the "sleep hormone," plays a vital role in regulating the body's natural sleep-wake cycle throughout the day, the pineal gland in our brain remains inactive. But a few hours before our natural sleep time, as daylight fades and darkness descends, the pineal gland springs into action and releases melatonin into the brain. </p>
<p>Nyumi’s Beauty Sleep Gummies are formulated with the goodness of Melatonin, L-Theanine, Chamomile, and other essential nutrients to help you get a good night’s sleep. These gummies deliver your daily melatonin intake in a delicious blueberry flavor. Our gummies are the best melatonin gummies in India with clinically proven results.</p>
<p>The recommended dosage for melatonin is 1 to 5 milligrams two hours before bedtime. Experts recommend taking melatonin at a low dosage and then gradually increasing its consumption.
    </p>
    <button class="show-more-btn">SHOW MORE</button>  
  </div>

  <div class="expanded-description">
    <h2>
      What Are Melatonin Sleep Gummies?
    </h2>
      <p class="minified-para">
    Melatonin sleep gummies are chewable supplements that contain melatonin, a hormone that helps regulate sleep-wake cycles, aiding in better sleep. Melatonin, commonly referred to as the "sleep hormone," plays a vital role in regulating the body's natural sleep-wake cycle throughout the day, the pineal gland in our brain remains inactive. But a few hours before our natural sleep time, as daylight fades and darkness descends, the pineal gland springs into action and releases melatonin into the brain. </p>
<p>Nyumi’s Beauty Sleep Gummies are formulated with the goodness of Melatonin, L-Theanine, Chamomile, and other essential nutrients to help you get a good night’s sleep. These gummies deliver your daily melatonin intake in a delicious blueberry flavor. Our gummies are the best melatonin gummies in India with clinically proven results.</p>
<p>The recommended dosage for melatonin is 1 to 5 milligrams two hours before bedtime. Experts recommend taking melatonin at a low dosage and then gradually increasing its consumption.
    </p>
    <h2>
      Key Benefits of Buying Melatonin Beauty Sleep Gummies From Nyumi
    </h2>
    <p>
      Our sleep gummies are clinically proven to improve sleep time, reduce stress, improve skin health, and regulate your sleep-wake cycle making them the best sleep gummies in India. 
    </p>
    <h2>
      How Do Melatonin Sleep Gummies Work?
    </h2>
    <p>
      Sleep gummies contain melatonin, which signals the brain to prepare for sleep, while other natural extracts reduce stress and calm the mind. They help regulate sleep-wake cycles, promoting better sleep quality and faster onset of sleep. If taken 1 hour before bedtime, these gummies will induce long & restful sleep without any major side effects. Sleep gummies are easy to consume, have a pleasant taste, and come in specific dosages making it convenient for regular intake. Moreover, being a naturally occurring hormone, melatonin is generally considered safe for short-term use.

    </p><p>Buy melatonin gummies online on our website.

    </p>
    <h2>
      Directions For Use of Sleep Gummies For Women
    </h2>
    <p>
      Take 2 gummies daily, after your evening meal, 30 minutes before bedtime. These natural melatonin gummies are non-habit-forming and safe for consumption. Daily consumption will help balance your sleep-wake cycle and improve sleep quality.
    </p>
    <button class="show-less-btn">SHOW LESS</button>
</div>

<script>
  $('.show-more-btn').click(function(){
    $('.minified-description').hide()
    $('.expanded-description').show()
  })
  $('.show-less-btn').click(function(){
    $('.minified-description').show()
    $('.expanded-description').hide()
  })
</script>