<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
>
<style>
    .section_heading h3 {
      font-family: 'corbenr';
      font-size: 24px;
      font-weight: normal;
      line-height: 30px;
      margin: 1rem;
      margin-top: 2rem;
      font-style: normal;
      text-align: center;
      color: #000000;
    }
    .customer-opinion {
  /*     margin: 1rem; */
      background: white;
    }
    .opinion-card {
      text-align: center;
      width: 100%;
      margin: 0 auto;
      padding: 1rem 2rem;
    }
    .description--wrapper p {
      font-family: "Manrope";
      font-size: 18px;
      font-weight: normal;
      line-height: 24px;
      font-style: normal;
      text-align: center;
      color: #000000;
    }
    .description--wrapper p span {
      font-family: "Manrope";
  font-size: 17px;
  font-weight: 800;
  font-style: normal;

  color: #f37168;
    }

    .description--wrapper {
          margin-top: 20px;
      margin-bottom: 20px;
    }

    .swiper-button-prev , .swiper-button-next {
      top: 28% !important;
    }
    .swiper-button-prev::after , .swiper-button-next::after {
      display:none;
    }
  .swiper-button-prev  {
    left:11% !important;
      }
    .swiper-button-next {
    right:11% !important;
    }
    .swiper-button-next img,
    .swiper-button-prev img {
      width: 100%;
    }
    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
      opacity: 0.5;
    }
    .swiper2 .swiper-slide.swiper-slide-active {
        opacity: 1 !important;
      }
    .swiper2 {
      position: relative;
    }
    .swiper2 .swiper-slide img {
      width: 50%;
    }

    @media(min-width: 768px) {
      .swiper-button-next {
        right: 20% !important;
        height: 50px !important;
        width: 50px !important;
      }
      .swiper-button-prev {
        left: 20% !important;
        height: 50px !important;
        width: 50px !important;
      }
      .section_heading h3 {
        font-size: 35px;
        margin: 2rem;
      }
    }

    @media (max-width: 768px) {
      .swiper2 {
      position:relative;
    }

      .opinion-card img {
      width: 70%;
    }

      .opinion-card {
        width:100%;
      }
    .description--wrapper p {
      font-family: "Manrope";
      font-size: 14px;
      font-weight: normal;
      line-height: 24px;
      font-style: normal;
      text-align: center;
      color: #000000;
    }
    .description--wrapper p span {
      font-family: "Manrope";
      font-size: 14px;
      font-weight: 800;
      font-style: normal;
      text-align: left;
      color: #f37168;
    }
      @media only screen and (max-width: 768px)
.icon_des {
    font-size: 16px;
    max-width: 100% !important;
}
</style>

<div class="customer-opinion">
  <div class="section_heading">
    <h3>real users, real stories</h3>
  </div>
  <!-- <div class="page-width"> -->
  <div class="carousel_container ">
    <div class="swiper2">
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev">
        <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/CompositeLayer.svg?v=1683834188">
      </div>
      <div class="swiper-button-next">
        <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/CompositeLayer_1.svg?v=1683834187">
      </div>
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            <div class="opinion-card">
              <img src="{{ block.settings.image | img_url: '300x' }}" alt="{{ block.settings.title }}">

              <div class="description--wrapper">
                <p>
                  {{ block.settings.description }}
                </p>
                <p>
                  <span>- {{ block.settings.name }}</span>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
    const swiper2 = new Swiper('.swiper2', {
    // Optional parameters
    direction: 'horizontal',
    loop: false,

    // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
  breakpoints: {
    // when window width is >= 768px
    768: {
      slidesPerView: 3
    }
  }


  });
</script>

{% schema %}
 {
  "name": "CustomerOpinion",

  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Slide_image"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Slide_description"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Slide_name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Opinion",
      "settings": {}
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
