<div class="slider_title center">talk of the town</div>
<div class="row tbpd synchronize_slider">
   
   
   <div class="testimonial_first leftpd">
   
      <div class="slicks">
        		
                  <div class="slider_content">
                    <div class=semi-bold-content>
                    	“Haven’t “forgotten” to eat my skin & hair vitamins ever since I got my hands on these babies
by Nyumi. Just delish.”
                    
                    </div>
                    <div class="writer">Ankita Chaturvedi</div>
                    <div class="designation">Founder, Corallista Blog</div>
                    
                  </div>	
        		
        		
                  <div class="slider_content">
                    <div class=semi-bold-content>
                    	“Haven’t “forgotten” to eat my skin & hair vitamins ever since I got my hands on these babies
by Nyumi. Just delish.”
                    
                    </div>
                    <div class="writer">Ankita Chaturvedi</div>
                    <div class="designation">Founder, Corallista Blog</div>
                    
                  </div>
        		
                 <div class="slider_content">
                    <div class=semi-bold-content>
                    	“Haven’t “forgotten” to eat my skin & hair vitamins ever since I got my hands on these babies
by Nyumi. Just delish.”
                    
                    </div>
                    <div class="writer">Ankita Chaturvedi</div>
                    <div class="designation">Founder, Corallista Blog</div>
                    
                  </div>
        		
        		
        </div>
     
   </div>
   <div class="testimonial_second">  
   		<div class="slider-nav">
        		<div class="imgbox">
                  <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/t1.jpg?v=1604561791">
                  
        
        		</div>
        		<div class="imgbox">
                  <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/t2.jpg?v=1604561791">
                  
        
        		</div>
        		
        		<div class="imgbox">
                  <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/t3.jpg?v=1604561791">
                  
        
        		</div>
        		
        </div>
   
   
   
   </div>
   
</div>


  
<script>
$(document).ready(function(){
$('.slicks').slick({
dots: true,
infinite: true,
arrows: false,  
speed: 300,
slidesToShow: 1,
adaptiveHeight: true,
   asNavFor: '.slider-nav'
});
});  
$('.single-item').slick();
  $('.slider-nav').slick({
  slidesToShow: 3,
  slidesToScroll: 1,    
  asNavFor: '.slicks',
  dots: false,
  centerMode: true,
  focusOnSelect: true,
    infinite: true,
    responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
      }
    }]
});
</script> 

{% schema %}
  {
    "name": "Section name",
    "settings": [],
	"presets": [
{
  "category": "IMAGE",
  "name": "testimonial",
  "settings": {}
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
