<div class="product-sldier">
	<div class="product-background relative">	
       <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/banner_02.jpg?v=1604570161">
  	<div class="absolute">	
     
    </div>
   </div>
</div>
{% schema %}
  {
    "name": "Product Slider",
    "settings": [],
	"presets": [
{
  "category": "IMAGE",
  "name": "Product_slider",
  "settings": {}
}
]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
