<div class="control-section flx">
	<div class="control-text">
        <div class="control-heading center">
      		<h3 class="cm_title">we practice portion control</h3>	
            <p>Nutrients work well only if they’re eaten in the right amount.
               We left no room for more or less. </p>
        </div>
        <div class="flx">
           <div class="half center">
             <h3 class="sml_tag">Safe Dosage </h3>
             <p>Our gummies meet Indian Recommended Dietary Allowance (RDA) regulations. They are created thoughtfully to avoid megadoses of any nutrient. This means, no nasty surprises or spikes in your nutrient level readings. </p>
           </div>
           
            <div class="half center">
             <h3 class="sml_tag">Powerfully Concise </h3>
             <p>We don’t fancy a label full of ingredients that exist to earn popularity scores. We’d rather get points on keeping only those ingredients that will deliver results.</p>
           </div>
          
        </div> 
         
        <div class="control-last-section">
             <h3 class="sml_tag center">Making Each Dose Count</h3>
             <p>Amount eaten does not equal amount absorbed. To ensure that you receive the most from each dose, we focus on bioavailability scores, extract ratios, and ingredient combinations that work well together. Our gummy format enables better absorption than pills or powders.</p>
        </div>
    </div>  

	<div class="control-image">

      <img src="{{'hand.png' | asset_url}}" alt="image">
      
    </div>  
</div>  


<div class="hire_exp_section">
  <div class="hrxp_box page_width">
    <div class="hrxp_top">
      <h2>we hire experts</h2>
    </div>
    
      <div class="hrxp_outer_flx"> 
        
      <div class="hrxp_flx">
          <div class="hrxp_icon">
            <div class="hrxp_img"><img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/icon-01.png" alt="#"></div>
          </div>

          <div class="hrxp_txt">
            <h3>formulation panel</h3>
            <div class="hrxp_description">
              <p>Along with doctors, our team includes nutritionists, pharmacists and health experts. 
                They bring on board their experience and knowledge on latest development in nutrition science, 
                vitamin formulation, and compliance with nutrition regulations.</p>
            </div>
          </div>

        </div>

        <div class="hrxp_flx">
          <div class="hrxp_icon">
            <div class="hrxp_img"><img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/icon-02.png" alt="#"></div>
          </div>

          <div class="hrxp_txt">
            <h3>developed in germany</h3>
            <div class="hrxp_description">
              <p>Our development team from Germany is one of the world’s first to have created vitamins in gummy form. 
                They hold over 40 years of experience in formulating precise and high quality health supplements. </p>
            </div>
          </div>

        </div>
        
    </div>
    
  </div>
</div>


<div class="behind-science flx">
  <h3 class="cm_title mobile">heart behind the science</h3>
  <div class="behind-scienc-image">
     
     <img src="{{'behind.png' | asset_url}}" alt="image">
  </div>
  
  <div class="behind-science-text">
  		<h3 class="cm_title desktop">heart behind the science</h3>	
        <p>
          Nyumi is conceptualized, created and powered by women who understand that a fine balance between responsibilities and ambitions needs overall wellness. Our job is to make the power of daily nutrition accessible, effective and trustworthy.
        </p>
		<div class="cm_but">
        	<a class="button" id="Science-btn" href="https://nyumi-store.myshopify.com/">Know more&gt;</a>
        </div>
    
  </div>
    
</div>  